# SPI (Standard Precipitation Index). 

This code calculates the Standard Precipitation Index using the precipitation data from CHIRPS obtained from the codes "Precipitation_2012_2021" and "Precipitation_2022". The CSV's obtained from both "Precipitation" codes are appended and produce the output file "precipitation_2012_2022.csv" used in this code as input and uploaded to this repository.

1. Import libraries necessary:

In [ ]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from standard_precip.spi import SPI
from standard_precip.utils import plot_index

2. Upload the data and drop the column "Unamed:0" that is created by Python.

In [37]:
df_rainfall = pd.read_csv('/Users/valentinaguedesantonaccio/Library/CloudStorage/OneDrive-Nexus365/I.FoD/II.Research/VIII.Labour_Ethiopia/Precipitation/CSV/precipitation_2012_2022.csv')
df_rainfall.head()

df_rainfall = df_rainfall.drop('Unnamed: 0', axis=1)
df_rainfall

       max_prec   mean_prec      min_prec  month  year
0     51.103067    5.571654  0.000000e+00      1  2012
1     34.281585    6.093373  2.065335e-10      2  2012
2    133.377673   23.070663  3.934187e-02      3  2012
3    441.159286   95.820650  7.472808e-01      4  2012
4    426.343287   92.780663  9.001209e-01      5  2012
..          ...         ...           ...    ...   ...
122  162.002805   26.509515  4.828654e-02      3  2022
123  295.967587   75.304646  1.442155e+00      4  2022
124  370.229883   62.130237  4.537442e-01      5  2022
125  456.483681   87.780507  3.634027e-01      6  2022
126  624.469875  123.162040  5.056474e-02      7  2022

[127 rows x 5 columns]

3. Create a column for "Date" using teh columns for "Month" and "Year" which are separated into two columns in the original data.

In [ ]:
#Declare a list for day
def day(n):
    day = [1] * n
    return day
day = day(127)

df_rainfall["day"] = day


df_rainfall['dateInt']=df_rainfall['year'].astype(str) + df_rainfall['month'].astype(str).str.zfill(2)+ df_rainfall['day'].astype(str).str.zfill(2)
df_rainfall['Date'] = pd.to_datetime(df_rainfall['dateInt'], format='%Y%m%d')

df_rainfall

In [41]:
df_rainfall.head()

     max_prec  mean_prec      min_prec  month  year  day   dateInt       Date
0   51.103067   5.571654  0.000000e+00      1  2012    1  20120101 2012-01-01
1   34.281585   6.093373  2.065335e-10      2  2012    1  20120201 2012-02-01
2  133.377673  23.070663  3.934187e-02      3  2012    1  20120301 2012-03-01
3  441.159286  95.820650  7.472808e-01      4  2012    1  20120401 2012-04-01
4  426.343287  92.780663  9.001209e-01      5  2012    1  20120501 2012-05-01

In [42]:
#Create SPI Instance
spi_rain = SPI()

In [ ]:
# help(SPI())

4. Calculate Monthly SPI (1-Month) using Gamma Distribution and L-moments

In [ ]:


spi_monthly = spi_rain.calculate(df_rainfall, 'Date', 'mean_prec', freq="M", scale=1, 
                                 fit_type="lmom", dist_type="gam")
spi_monthly.head()

In [ ]:
fig = plot_index(spi_monthly, 'Date', 'mean_prec_calculated_index')
fig.savefig('SPI.png')

Based on this GitHub repository: [Code](https://github.com/e-baumer/standard_precip/blob/master/examples/example_use.ipynb)